<header class="header-area header-wrapper">
    <!-- header-top-bar -->
    <div class="header-top-bar plr-185">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class="call-us">
                        <p class="mb-0 roboto">(+88) 01234-567890</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="top-link clearfix">
                        <ul class="link f-right">
                            <li>
                                <a href="/KhachHang/MyAcount">
                                    <i class="zmdi zmdi-account"></i>
                                    Tài khoản của tôi
                                </a>
                            </li>
                            <li id="li_dangnhap">
                                <a href="/KhachHang/DangNhap">
                                    <i class="zmdi zmdi-favorite"></i>
                                    Đăng nhập
                                </a>
                            </li>
                            <li id="li_dangxuat">
                                <a href="/KhachHang/DangXuat" onclick="isLogin()">
                                    <i class="zmdi zmdi-favorite"></i>
                                    Đăng xuất
                                </a>
                            </li>
                            <li>
                                <a href="/KhachHang/DangKi">
                                    <i class="zmdi zmdi-lock"></i>
                                    Đăng kí
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Content/User/img/logo/logo.png" alt="main logo">
                            </a>
                        </div>
                    </div>
                    <!-- primary-menu -->
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <nav id="primary-menu">
                            <ul class="main-menu text-center">
                                <li>
                                    <a href="Home/Index">Home</a>

                                </li>
                                <li>
                                    <a href="Home/Index">Thương hiệu</a>
                                    <ul class="dropdwn">
                                        <li>
                                            <a href="#">Julius</a>
                                        </li>
                                        <li>
                                            <a href="#">SRWATCH</a>
                                        </li>
                                        <li>
                                            <a href="#">Valence</a>
                                        </li>
                                        <li>
                                            <a href="#">Sunrise</a>
                                        </li>
                                        <li>
                                            <a href="#">Henry London</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="mega-parent">
                                    <a href="shop.html">Sản phẩm</a>
                                    <div class="mega-menu-area clearfix">
                                        <div class="mega-menu-link f-left">
                                            <ul class="single-mega-item">
                                                <li class="menu-title">Đồng hồ nam</li>
                                                <li>
                                                    <a href="#">Đồng hồ nam-Julius</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nam-SRWATCH</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nam-Valence</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nam-Sunrise</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nam-Henry London</a>
                                                </li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title">Đồng hồ nữ</li>
                                                <li>
                                                    <a href="#">Đồng hồ nữ-Julius</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nữ-SRWATCH</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nữ-Valence</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nữ-Sunrise</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ nữ-Henry London</a>
                                                </li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title">Đồng hồ đôi</li>
                                                <li>
                                                    <a href="#">Đồng hồ đôi-Julius</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ đôi-SRWATCH</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ đôi-Valence</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ đôi-Sunrise</a>
                                                </li>
                                                <li>
                                                    <a href="#">Đồng hồ đôi-Henry London</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu-photo f-left">
                                            <a href="#">
                                                <img src="~/Content/User/img/mega-menu/1.jpg" alt="mega menu image">
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a href="index.html">Thể loại</a>
                                    <ul class="dropdwn">
                                        <li>
                                            <a href="#">Đồng hồ nam</a>
                                        </li>
                                        <li>
                                            <a href="#">Đồng hồ nữ</a>
                                        </li>
                                        <li>
                                            <a href="#">Đồng hồ đôi</a>
                                        </li>
                                        <li>
                                            <a href="#">Phụ kiện</a>
                                        </li>


                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html">Blog</a>

                                </li>
                                <li>
                                    <a href="about.html">About us</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- header-search & total-cart -->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="search-top-cart  f-right">
                            <!-- header-search -->
                            <div class="header-search f-left">
                                <div class="header-search-inner">
                                    <button class="search-toggle">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                    <form action="#">
                                        <div class="top-search-box">
                                            <input type="text" placeholder="Search here your product...">
                                            <button type="submit">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- total-cart -->
                            @Html.Action("GioHangSmall", "GioHang")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>