<!-- BLOG SECTION START -->
<div class="blog-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Blogs</h2>
                    <h6>Góc blogs</h6>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="row active-blog">
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="~/Content/User/img/blog/1.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="~/Content/User/img/blog/2.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="~/Content/User/img/blog/3.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="~/Content/User/img/blog/1.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
            </div>
        </div>
    </div>
</div>
<!-- BLOG SECTION END -->  