@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- LOGIN SECTION START -->
<div class="login-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="registered-customers">
                    <h6 class="widget-title border-left mb-50">REGISTERED CUSTOMERS</h6>
                    @using (Html.BeginForm("DangNhap", "KhachHang"))
                    {
                        <div class="login-account p-30 box-shadow">
                            <p>If you have an account with us, Please log in.</p>
                            <input type="text" name="email" placeholder="Email Address">
                            <input type="password" name="password" placeholder="Password">
                            <p><small><a href="#">Forgot our password?</a></small></p>
                            <button class="submit-btn-1 btn-hover-1" type="submit">login</button>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN SECTION END -->